<mat-sidenav-container>

  <mat-sidenav-content>

        <mat-toolbar  class="fixed-header white-text" color="primary"  >
      
            
              
                <span>Video Clip Player</span>

    

                <button (click)="onNew()"  
                      mat-icon-button 
                        style="cursor:pointer;"
                        >
                    <mat-icon>add</mat-icon> New Main Video
                </button>
        </mat-toolbar>

        <router-outlet></router-outlet>

    </mat-sidenav-content>

</mat-sidenav-container>
  

